.left-row {
  width: 180px;
  height: 100%;
  position: fixed;
  background: #222;
}
.left-row ul .active {
  background: #cf4646 !important;
}
.left-row ul li{
  width: 160px;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #f1f1f1;
  cursor: pointer;
  position: relative;
}
.left-row ul li:hover {
  background: rgb(26, 26, 26);
} 
.left-row ul li > a{
  display: inline-block;
  color: #f1f1f1;
  width: 136px;
  padding-left: 24px;
  position: absolute;
  right: 0;
}
.icon {
  font-size: 18px;
}