.button-grp button {
  width: 100px;
  height: 30px;
  border: none;
  color: #5f6468;
  background: #e9ecf2;
  cursor: pointer;
  outline: none;
}
.button-grp button:hover {
  background: #ddd;
}
.button-active {
  color: #f1f1f1 !important;
  background: #cf4646 !important;
}
.work-list {
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
}
.work-list th {
  color: #222;
  min-width: 100px;
  height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}
.work-list td {
  color: #5f6468;
  background: #fcf8e3;
  padding: 0 10px;
  height: 40px;
}